*{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans 3', sans-serif;
}

.header{
    padding: 45px 45px;
    background-color: #283593;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav a{
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}

.nav a:hover{
    color: #c5cae9;
    transform: rotate(6deg);
}

.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li{
    margin-left: 20px;
}


/* 
Hero Section 
*/

.hero{
    background-color: #c5cae9;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.hero-inner{
    max-width: 760px;
}

.hero h1{
    font-size: 4rem;
    font-weight: normal;
    margin: 0px;
}

.hero p{
    font-size: 1.58rem;
    line-height: 1.6;
}

.button{
    background-color: #3949ab;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.18rem;
    display: inline-block;
    margin-top: 10px;
}

/* features section */

.features{
    background-color: #e8eaf6;
    padding: 60px 45px;
}

.features-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 45px;
}

.feature-item h3{
    color: #283593;
    font-size: 1.5rem;
    margin: 0px;
    font-weight: normal;
}

.feature-item p{
    margin: 0;
    font-size: 1.6rem;
    color: #333;
}


/* footer */

.footer{
    background-color: #fff;
    color: #999;
    text-align: center;
    padding: 30px 0px;
    font-size: .9rem;
}